@media(max-width:576px) {

.navbar-primary {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 8rem;
}


    .navbar {
        display: flex;
        justify-content: flex-start;
    }

    .navbar-list {
        background: rgb(0, 35, 51);
        height: calc(100vh - 180px);
        width: 80%;
        position: absolute;
        top: 170px;
        left: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        border-radius: 0 0 1rem;

        /* overflow: scroll; */
        display: none;
    }

    .navbar-list li a {
        color: white;
        padding: 15px;
    }

    .menu {
        display: block;
        margin-left: 20px;
    }

    #toggle-menu:checked~.navbar-list {
        display: flex;
    }


    .buscador {
        display: none;
    }


    .Envio-gratis {
        display: none;
    }

    /* .item-carrito {
    overflow: scroll;
} */
    .button-comprar {
        padding: 0.5rem 2rem;
    }

    .contact-carrito {
        /* margin-top: 146px; */
        margin-right: 20px;
    }

    .menu {
        margin-bottom: 145px;
        color: white;
    }

}


@media(max-width:800px) {
    .navbar-list {
        gap: 10px;
    }
}